/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	background: #a6def3;
	overflow:hidden;
	position: relative;
	font-family: 'Droid Arabic Kufi';
	direction: rtl;
}

.scene {
	height:100%;
	width:100%;
	margin: 0 auto;
	padding: 0;
}
.scene img {
  display: block;
  width: 100%;
}
.logo {
	width:100%;
	margin:20px auto;
	text-align: center;
}
.LogoImg {
	width:182px;
	height:80px;
	display: block;
	margin: 0 auto;
	overflow:hidden;
	text-indent:-9999px;
	background: url('../img/assets.png') no-repeat -28px -29px; 
}
#innerLogo {
	margin-top: 0;
	position: absolute;
	top:20px;
	left:0;
}
#innerLogo h1 { margin: 20px 0 0px 0;
color: #FFFFFF;
text-align: center;
font-size: 1.5em; }
/*
#innerLogo .LogoImg {
	background-color: #FFFFFF;
	border:20px solid #FFFFFF;
}*/
.VidContainer {
	margin:10px auto;
	width:50%;
	height:50%;
	max-height:400px;
	border:10px solid #ffffff;
}
.VidWrapper {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;	
}
.VidContainer iframe {
	width: 100%;
	height:100%;
	background: #F0FAFB;
}
.CallToAction {
	width:100%;
	text-align: center;
}
.Dbtn {
	display:inline-block;
	margin:20px auto;
	padding: 15px 20px;
	border-radius:10px; 
	color:#ffffff;
	font-size:24px;
	font-weight:bold;
	text-decoration: none;
}
.DbtnRed {
	position: relative;
    color: #ffffff;
    text-decoration: none;
    background-color: #e87162;
    padding: 10px 15px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px #b5584c;
    -moz-box-shadow: 0px 9px 0px #b5584c;
    box-shadow: 0px 9px 0px #b5584c;
    margin: 10px auto 0;
	text-align: center;
	
	-webkit-transition: all .01s ease;
	-moz-transition: all .01s ease;
	-ms-transition: all .01s ease;
	-o-transition: all .01s ease;
	transition: all .01s ease;
	
	/* background: #e87162;
	border-bottom: 8px solid #b5584c; */
}

.DbtnRed:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1);
    box-shadow: 0px 3px 0px rgba(219,31,5,1);
    position: relative;
    top: 6px;
}
    
footer {
	background: #262626;
	height: 80px;
	width:100%;
	border-top:12px solid #ffffff;
	position: fixed;
	bottom: 0;
	left:0;
}
.footerContent {
	width: 1200px;
	margin: 0px auto;
	color: white; /* just to see test content */
}
#EnterDokkana {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:none;
	background: #A6DEF3;
}
.rightContent {
	width:50%;
	height:100%;
	/*background: #e87162;*/
	float:right;
}
.leftContent {
	width:50%;
	height:100%;
	/*background: #91d6d5;*/
	float:left;
}
.BuyerContent{
	margin:280px auto 0 10%;
	max-width: 400px;
}

.CSContent {
	margin:280px 10% 0 auto;
	max-width: 400px;
}

.BuyerContent h1, .CSContent h1 {
	margin: 0 0 0px 0;
color: #FFFFFF;
text-align: center;
font-size: 1.5em;
}
.headTitle {
	position: relative;
	margin-top: -10px;
}
.Title {
	width:180px;
	height: 46px;
	margin:130px auto 10px auto;
	text-align:center;
	background: #f1b61b;
	position: relative;
}
.BuyerContent .Title h2,.CSContent .Title h2{
	color:#ffffff;
	font-weight: 100;
	line-height: 42px;
} 
.SmileyFace {
width: 138px;
height: 138px;
background: url('../img/assets.png') no-repeat -40px -168px;
position: absolute;
top: -114px;
left: 117px;
}
.DokkanaIcon {
width: 126px;
height: 114px;
background: url('../img/assets.png') no-repeat -62px -355px;
position: absolute;
top: -108px;
left: 145px;
}
.leftCurve {
width: 42px;
height: 46px;
position: absolute;
left: 80px;
top: -10px;
}
.rightCurve {
width: 42px;
height: 46px;
position: absolute;
right: 79px;
top: -10px;
}
.leftCurve .triContainer {
	float:left;
	width: 21px;
}
.leftCurve .triContainer .topTri {
	width: 0px;
height: 0px;
border-style: solid;
border-width: 0 21px 23px 0;
border-color: transparent #de7323 transparent transparent;
}
.leftCurve .triContainer .bottomTri {
width: 0px;
height: 0px;
border-style: solid;
border-width: 0 0 23px 21px;
border-color: transparent transparent #de7323 transparent;
}
.leftCurve .rectangle {
	width: 21px;
	height:46px;
	float:right;
	background: #de7323;
}
.rightCurve .rectangle {
	width: 21px;
	height:46px;
	float:left;
	background: #de7323;
}
.rightCurve .triContainer {
	float:left;
	width: 21px;
}
.rightCurve .triContainer .topTri {
width: 0px;
height: 0px;
border-style: solid;
border-width: 23px 21px 0 0;
border-color: #de7323 transparent transparent transparent;
}
.rightCurve .triContainer .bottomTri {
width: 0px;
height: 0px;
border-style: solid;
border-width: 23px 0 0 21px;
border-color: transparent transparent transparent #de7323;

}
.topLeftShadow {
width: 0px;
height: 0px;
border-style: solid;
border-width: 0 0 10px 14px;
border-color: transparent transparent #b9601c transparent;
position: absolute;
top: -10px;
left: 109px;
}
.topRightShadow {
width: 0px;
height: 0px;
border-style: solid;
border-width: 10px 0 0 14px;
border-color: transparent transparent transparent #b9601c;
position: absolute;
top: -10px;
right: 108px;
}

.CSFeatures, .BuyerFeatures {
	min-height: 190px;
	width: 100%;
	border-radius:15px;
	margin-top:-43px;
	padding-top:30px; 
	background: #FFFFFF;
}

.CSFeatures ul, .BuyerFeatures ul {
	background: url('../img/ListStyle.png') repeat-y right top;
	list-style-position: inside;
	list-style: none;
	margin: 0 10px 0 0;
	
}
.CSFeatures ul li, .BuyerFeatures ul li {
color: #666;
font-size: 1.2em;
font-weight: 100;
line-height: 60px;
padding-right: 20px;
}
.DbtnBuyer , .DbtnCS{
position: relative;
color: #ffffff;
text-decoration: none;
background-color: #e87162;
padding: 10px 15px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: 0px 9px 0px #b5584c;
-moz-box-shadow: 0px 9px 0px #b5584c;
box-shadow: 0px 9px 0px #b5584c;
margin: 22px auto 0;
text-align: center;
-webkit-transition: all .01s ease;
-moz-transition: all .01s ease;
-ms-transition: all .01s ease;
-o-transition: all .01s ease;
transition: all .01s ease;
font-size: 1.3em;
}
 .DbtnBuyer:active , .DbtnCS:active{
 	  -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1);
    box-shadow: 0px 3px 0px rgba(219,31,5,1);
    position: relative;
    top: 6px;
 }
#BuyerSelect, #CSSelect {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:none;
	background: rgba(252, 254, 254, 0.97);
	z-index: 9999;
}
#CSSelect h1, #BuyerSelect h1 {
	color:#000000;
	text-align: center;
	direction:rtl;
	margin-bottom: 30px;
}
.RedText {
	color:#B5584C;
}
.BrandsContainer {
	width: 100%;
	text-align: center;
}
.BrandWrapper {
	display: inline-block;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border:12px solid #e6e7e6;
	text-align: center;
	overflow:hidden;
	margin: 10px 15px;
}
.BrandWrapper:hover {
	border-color: #bab8b6;
}
.closeButton {
	background: #e7e4e2;
	color: #FFFFFF;
    display: block;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 100;
    line-height: 50px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    position: absolute;
    top:35px;
    left:90px;
}
.CloseWrapper {
	width:100%;
	max-width: 1000px;
	margin:auto;
	position: relative;
	padding-top: 20px;
}



/* loader effect */

div#preloader-page {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#F5B530; /* change if the mask should have another color then white */
	z-index:99; /* makes sure it stays on top */
}

div#preloader-page .loader{
	background:url("../img/loader-bg.png") top  center no-repeat transparent; 
	width:255px;
	height:300px;
	overflow:hidden;
	position:relative;
	margin:100px auto 0;
	}
	
div#preloader-page .loader .face{ 
background:url("../img/face-animation.gif") top  center no-repeat transparent; 
	width:91px;
	height:77px;
	position:absolute; top: 59px;
left: 86px;
 }	
 

div#preloader-page .loader .bullets{ 
background:url("../img/bullets-load.gif") top  center no-repeat transparent; 
	width:110px;
	height:23px;
	position:absolute; bottom:0px; right:70px;
 }	 




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
